* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #6e806a;
  --main-font: poppins;
  --content-bgcolor: #f0efed;
  --main-bg-color: #e5e1d8;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  align-items: center;
  gap: 4.2rem;
  padding: 1rem;
  font-family: var(--main-font);
  position: sticky;
  top: 0;
  background-color: white;
  justify-content: center;
  z-index: 1;
  #open {
    display: none;
  }
  #logo {
    font-weight: 900;
    font-size: 30px;
  }
  .links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    #close {
      display: none;
    }
    #cont {
      color: var(--main-color);
    }
    a {
      text-decoration: none;
      color: black;
      font-size: 15px;
      transition: 0.3s ease;
      &:hover {
        color: var(--main-color);
      }
    }
  }
  #input {
    background-color: var(--content-bgcolor);
    padding: 0.6rem 12rem 0.6rem 0.6rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    border-radius: 20px;
    color: #bcbcbc;
    input {
      border: none;
      outline: none;
      background-color: var(--content-bgcolor);
      &::placeholder {
        color: #bcbcbc;
      }
    }
  }
  #cart {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    a {
      font-size: 23px;
      color: black;
      transition: 0.3s ease;
      &:hover {
        color: var(--main-color);
      }
    }
  }
}
.location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
  font-family: var(--main-font);
  gap: 1rem;
  p {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin-left: 6rem;
    span {
      font-size: 15px;
      font-weight: 400;
    }
  }
  iframe {
    width: 85%;
    margin: auto;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  background-color: var(--content-bgcolor);
  padding: 3rem 8rem 5rem 8rem;
  margin: auto;
  margin-top: 3rem;
  font-family: var(--main-font);
  gap: 2rem;
  h1 {
    text-align: center;
    font-weight: 600;
    font-size: 45px;
  }
  span {
    font-weight: 300;
    font-size: 13px;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .nameno {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      input {
        padding: 2rem 7rem 0.2rem 0.1rem;
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0;
        background-color: transparent;
        border-bottom: 1px solid rgb(160, 159, 159);
        outline: none;
        &::placeholder {
          color: rgb(160, 159, 159);
          font-size: 16px;
          font-family: var(--main-font);
        }
      }
    }
    textarea {
      width: 100%;
      padding: 2rem 0rem 0rem 0.1rem;
      border-top: none;
      border-right: none;
      border-left: none;
      background-color: transparent;
      border-bottom: 1px solid rgb(160, 159, 159);
      outline: none;
      resize: none;
      border-radius: 0;
      &::placeholder {
        color: rgb(160, 159, 159);
        font-size: 16px;
        font-family: var(--main-font);
      }
    }
  }
  button {
    margin: auto;
    margin-top: 1.5rem;
    padding: 0.5rem 4rem;
    color: white;
    font-family: var(--main-font);
    background-color: black;
    border-radius: 15px;
    font-size: 17px;
    border: none;
    transition: 0.6s ease;
    cursor: pointer;
    &:hover {
      background-color: var(--main-color);

      transform: all;
    }
  }
}
.newsletter {
  display: flex;
  gap: 18rem;
  align-items: center;
  background-color: var(--main-color);
  padding: 2rem 3.5rem;
  border-radius: 20px;
  margin: auto;
  margin-top: 4rem;
  span {
    font-weight: 800;
    font-family: var(--main-font);
    font-size: 35px;
    color: white;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    #mail {
      display: flex;
      align-items: center;
      background-color: white;
      padding: 0.8rem 1.5rem;
      border-radius: 20px;
      gap: 0.5rem;
      i {
        color: #dbd7d7;
      }
      input {
        border: none;
        outline: none;

        &::placeholder {
          color: #adabab;
        }
      }
    }
    a {
      text-decoration: none;
      color: black;
      font-family: var(--main-font);
      font-size: 13px;
      background-color: white;
      padding: 0.7rem 2.5rem;
      border-radius: 20px;
    }
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--content-bgcolor);
  padding: 2rem;
  width: 94.7%;
  margin-top: 1rem;
  .texts {
    display: flex;
    align-items: center;
    gap: 5.5rem;
    font-family: var(--main-font);
    .logotext {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      span {
        font-size: 30px;
        font-weight: 900;
      }
      p {
        font-size: 13px;
        font-weight: 300;
      }
      #media {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        a {
          color: white;
          border-radius: 50%;
          padding: 0.3rem 0.5rem;
          font-size: 10px;
          background-color: var(--main-color);
        }
      }
    }
    .complink {
      display: flex;
      align-items: center;
      gap: 5.5rem;
      .company {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        span {
          font-weight: 500;
        }
        a {
          text-decoration: none;
          color: black;
          font-size: 13px;
          font-weight: 300;
        }
      }
    }
  }
  .line {
    background-color: #adabab;
    height: 1px;
    width: 90%;
  }
  .payment {
    display: flex;
    align-items: center;
    gap: 35.5rem;
    span {
      font-family: var(--main-font);
      font-size: 13px;
      font-weight: 300;
    }
    .image {
      display: flex;
      align-items: center;
      img {
        width: 50px;
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
  .nav {
    flex-direction: column;
    padding: 1rem 1rem 4rem 1rem;

    #open {
      display: block;
      font-size: 20px;
      position: absolute;
      top: 1.4rem;
      left: 1.6rem;
    }

    #logo {
      font-size: 20px;
      position: absolute;
      top: 1rem;
      left: 8.5rem;
    }
    .links {
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      background-color: white;
      height: 100vh;
      width: 200px;
      align-items: flex-end;
      padding: 30px 30px 0 0;
      display: none;
      transition: left 0.4s ease;
      #close {
        font-size: 25px;
      }
    }
    #input {
      display: none;
    }
    #cart {
      position: absolute;
      top: 1rem;
      right: 1rem;
      gap: 1rem;
      a {
        font-size: 18px;
      }
    }
  }
  .contact {
    margin-top: 1rem;
    padding: 1rem;
    h1 {
      font-size: 30px;
    }
    .inputs {
      .nameno {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .newsletter {
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    margin-top: 2rem;
    span {
      font-size: 20px;
    }
  }
  .footer {
    padding: 1rem 1rem 4rem 1rem;
    width: 91%;
    .texts {
      flex-direction: column;
      gap: 2rem;
      .logotext {
        position: relative;
        right: 1.5rem;
      }
      .complink {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
      }
    }
    .payment {
      flex-direction: column;
      gap: 1rem;
    }
  }
}
