* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #6e806a;
  --main-font: poppins;
  --content-bgcolor: #f0efed;
  --main-bg-color: #e5e1d8;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background: var(--main-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font);
  padding: 0.3rem 0rem;
  color: white;
  font-size: 13px;
  gap: 0.4rem;
}
header a {
  color: white;
}

.nav {
  display: flex;
  align-items: center;
  gap: 2.7rem;
  padding: 1rem;
  font-family: var(--main-font);
  position: sticky;
  top: 0;
  background-color: white;
  justify-content: center;
  z-index: 1;
}
.nav #open {
  display: none;
}
.nav #logo {
  font-weight: 900;
  font-size: 30px;
}
.nav .links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.nav .links #close {
  display: none;
}
.nav .links #shop {
  color: var(--main-color);
}
.nav .links a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  transition: 0.3s ease;
}
.nav .links a:hover {
  color: var(--main-color);
}
.nav #input {
  background-color: var(--content-bgcolor);
  padding: 0.6rem 12rem 0.6rem 0.6rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  border-radius: 20px;
  color: #bcbcbc;
}
.nav #input input {
  border: none;
  outline: none;
  background-color: var(--content-bgcolor);
}
.nav #input input::-moz-placeholder {
  color: #bcbcbc;
}
.nav #input input::placeholder {
  color: #bcbcbc;
}
.nav #cart {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.nav #cart a {
  font-size: 23px;
  color: black;
  transition: 0.3s ease;
}
.nav #cart a:hover {
  color: var(--main-color);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 3rem;
}
.content h1 {
  font-family: var(--main-font);
  font-size: 35px;
  font-weight: 600;
}
.content .store {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}
.content .store .shirt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  font-family: var(--main-font);
}
.content .store .shirt strong {
  font-size: 25px;
}
.content .store .shirt .prod {
  display: flex;
  align-items: center;
  gap: 1.1rem;
}
.content .store .shirt .prod .product {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.content .store .shirt .prod .product a {
  border-radius: 20px;
}
.content .store .shirt .prod .product a img {
  width: 250px;
  border-radius: 20px;
}
.content .store .shirt .prod .product span {
  font-weight: 500;
  font-size: 15px;
}
.content .store .shirt .prod .product #rate {
  font-size: 12px;
  display: flex;
  align-items: center;
  font-weight: 300;
  gap: 0.3rem;
}
.content .store .shirt .prod .product #rate img {
  width: 80px;
}
.content .store .shirt .prod .product small {
  font-weight: 530;
  font-size: 18px;
}
.content .store .shirt .prod .product p {
  margin-top: 0.5rem;
  font-weight: 530;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.content .store .shirt .prod .product p span {
  color: grey;
  text-decoration: line-through;
  font-size: 18px;
}
.content .store .shirt .prod .product p small {
  color: red;
  font-weight: 400;
  font-size: 12px;
  background-color: #ffebeb;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  border: none;
}
.content .store .denim {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  font-family: var(--main-font);
}
.content .store .denim strong {
  font-size: 25px;
}
.content .store .denim .prod {
  display: flex;
  align-items: center;
  gap: 1.1rem;
}
.content .store .denim .prod .product {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.content .store .denim .prod .product a {
  border-radius: 20px;
}
.content .store .denim .prod .product a img {
  width: 250px;
  border-radius: 20px;
}
.content .store .denim .prod .product span {
  font-weight: 500;
  font-size: 15px;
}
.content .store .denim .prod .product #rate {
  font-size: 12px;
  display: flex;
  align-items: center;
  font-weight: 300;
  gap: 0.3rem;
}
.content .store .denim .prod .product #rate img {
  width: 80px;
}
.content .store .denim .prod .product small {
  font-weight: 530;
  font-size: 18px;
}
.content .store .denim .prod .product1 {
  display: flex;
  flex-direction: column;
}
.content .store .denim .prod .product1 a img {
  width: 250px;
  border-radius: 20px;
  height: 255px;
  position: relative;
  bottom: 0.45rem;
}
.content .store .denim .prod .product1 span {
  font-weight: 500;
  font-size: 15px;
}
.content .store .denim .prod .product1 #rate {
  font-size: 12px;
  display: flex;
  align-items: center;
  font-weight: 300;
  gap: 0.3rem;
}
.content .store .denim .prod .product1 #rate img {
  width: 80px;
}
.content .store .denim .prod .product1 small {
  font-weight: 530;
  font-size: 18px;
}
.content .store .denim .prod .product2 {
  display: flex;
  flex-direction: column;
}
.content .store .denim .prod .product2 a img {
  width: 250px;
  border-radius: 20px;
  height: 253px;
  position: relative;
  bottom: 0.3rem;
}
.content .store .denim .prod .product2 span {
  font-weight: 500;
  font-size: 15px;
}
.content .store .denim .prod .product2 #rate {
  font-size: 12px;
  display: flex;
  align-items: center;
  font-weight: 300;
  gap: 0.3rem;
}
.content .store .denim .prod .product2 #rate img {
  width: 70px;
}
.content .store .denim .prod .product2 p {
  margin-top: 0.5rem;
  font-weight: 530;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.content .store .denim .prod .product2 p span {
  color: grey;
  text-decoration: line-through;
  font-size: 18px;
}
.content .store .denim .prod .product2 p small {
  color: red;
  font-weight: 400;
  font-size: 12px;
  background-color: #ffebeb;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  border: none;
}
.content .store .denim .prod .product3 {
  display: flex;
  flex-direction: column;
}
.content .store .denim .prod .product3 a img {
  width: 250px;
  border-radius: 20px;
  height: 253px;
  position: relative;
  bottom: 0.3rem;
}
.content .store .denim .prod .product3 span {
  font-weight: 500;
  font-size: 15px;
}
.content .store .denim .prod .product3 #rate {
  font-size: 12px;
  display: flex;
  align-items: center;
  font-weight: 300;
  gap: 0.3rem;
}
.content .store .denim .prod .product3 #rate img {
  width: 70px;
}
.content .store .denim .prod .product3 p {
  margin-top: 0.5rem;
  font-weight: 530;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.content .store .denim .prod .product3 p span {
  color: grey;
  text-decoration: line-through;
  font-size: 18px;
}
.content .store .denim .prod .product3 p small {
  color: red;
  font-weight: 400;
  font-size: 12px;
  background-color: #ffebeb;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  border: none;
}
.content .store .shoe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  font-family: var(--main-font);
}
.content .store .shoe strong {
  font-size: 25px;
}
.content .store .shoe .prod {
  display: flex;
  align-items: center;
  gap: 1.1rem;
}
.content .store .shoe .prod .product1 {
  display: flex;
  flex-direction: column;
}
.content .store .shoe .prod .product1 a img {
  width: 250px;
  border-radius: 20px;
  height: 253px;
  position: relative;
  bottom: 0.3rem;
  background-color: #f0eeed;
}
.content .store .shoe .prod .product1 span {
  font-weight: 500;
  font-size: 15px;
}
.content .store .shoe .prod .product1 #rate {
  font-size: 12px;
  display: flex;
  align-items: center;
  font-weight: 300;
  gap: 0.3rem;
}
.content .store .shoe .prod .product1 #rate img {
  width: 70px;
}
.content .store .shoe .prod small {
  font-weight: 530;
  font-size: 18px;
}
.content .store .shoe .product2 {
  display: flex;
  flex-direction: column;
}
.content .store .shoe .product2 a img {
  width: 250px;
  border-radius: 20px;
  height: 253px;
  position: relative;
  bottom: 0.3rem;
  background-color: #f0eeed;
}
.content .store .shoe .product2 span {
  font-weight: 500;
  font-size: 15px;
}
.content .store .shoe .product2 #rate {
  font-size: 12px;
  display: flex;
  align-items: center;
  font-weight: 300;
  gap: 0.3rem;
}
.content .store .shoe .product2 #rate img {
  width: 70px;
}
.content .store .shoe .product3 {
  display: flex;
  flex-direction: column;
}
.content .store .shoe .product3 a img {
  width: 250px;
  border-radius: 20px;
  height: 253px;
  background-color: #f0eeed;
}
.content .store .shoe .product3 span {
  font-weight: 500;
  font-size: 15px;
}
.content .store .shoe .product3 #rate {
  font-size: 12px;
  display: flex;
  align-items: center;
  font-weight: 300;
  gap: 0.3rem;
}
.content .store .shoe .product3 #rate img {
  width: 70px;
}
.content .store .shoe .product3 p {
  margin-top: 0.5rem;
  font-weight: 530;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.content .store .shoe .product3 p span {
  color: grey;
  text-decoration: line-through;
  font-size: 18px;
}
.content .store .shoe .product3 p small {
  color: red;
  font-weight: 400;
  font-size: 12px;
  background-color: #ffebeb;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  border: none;
}
.content .store .shoe .product4 {
  display: flex;
  flex-direction: column;
}
.content .store .shoe .product4 a img {
  width: 250px;
  border-radius: 20px;
  height: 253px;
  background-color: #f0eeed;
}
.content .store .shoe .product4 span {
  font-weight: 500;
  font-size: 15px;
}
.content .store .shoe .product4 #rate {
  font-size: 12px;
  display: flex;
  align-items: center;
  font-weight: 300;
  gap: 0.3rem;
}
.content .store .shoe .product4 #rate img {
  width: 70px;
}
.content .store .shoe .product4 p {
  margin-top: 0.5rem;
  font-weight: 530;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.content .store .shoe .product4 p span {
  color: grey;
  text-decoration: line-through;
  font-size: 18px;
}
.content .store .shoe .product4 p small {
  color: red;
  font-weight: 400;
  font-size: 12px;
  background-color: #ffebeb;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  border: none;
}
.content .newsletter {
  display: flex;
  gap: 18rem;
  align-items: center;
  background-color: var(--main-color);
  padding: 2rem 3.5rem;
  border-radius: 20px;
  margin: auto;
  margin-top: 3rem;
}
.content .newsletter span {
  font-weight: 800;
  font-family: var(--main-font);
  font-size: 35px;
  color: white;
}
.content .newsletter .inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.content .newsletter .inputs #mail {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  gap: 0.5rem;
}
.content .newsletter .inputs #mail i {
  color: #dbd7d7;
}
.content .newsletter .inputs #mail input {
  border: none;
  outline: none;
}
.content .newsletter .inputs #mail input::-moz-placeholder {
  color: #adabab;
}
.content .newsletter .inputs #mail input::placeholder {
  color: #adabab;
}
.content .newsletter .inputs a {
  text-decoration: none;
  color: black;
  font-family: var(--main-font);
  font-size: 13px;
  background-color: white;
  padding: 0.7rem 2.5rem;
  border-radius: 20px;
}
.content .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--content-bgcolor);
  padding: 2rem;
  width: 94.7%;
}
.content .footer .texts {
  display: flex;
  align-items: center;
  gap: 5.5rem;
  font-family: var(--main-font);
}
.content .footer .texts .logotext {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content .footer .texts .logotext span {
  font-size: 30px;
  font-weight: 900;
}
.content .footer .texts .logotext p {
  font-size: 13px;
  font-weight: 300;
}
.content .footer .texts .logotext #media {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.content .footer .texts .logotext #media a {
  color: white;
  border-radius: 50%;
  padding: 0.3rem 0.5rem;
  font-size: 10px;
  background-color: var(--main-color);
}
.content .footer .texts .complink {
  display: flex;
  align-items: center;
  gap: 5.5rem;
}
.content .footer .texts .complink .company {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content .footer .texts .complink .company span {
  font-weight: 500;
}
.content .footer .texts .complink .company a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 300;
}
.content .footer .line {
  background-color: #adabab;
  height: 1px;
  width: 90%;
}
.content .footer .payment {
  display: flex;
  align-items: center;
  gap: 35.5rem;
}
.content .footer .payment span {
  font-family: var(--main-font);
  font-size: 13px;
  font-weight: 300;
}
.content .footer .payment .image {
  display: flex;
  align-items: center;
}
.content .footer .payment .image img {
  width: 50px;
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
  .nav {
    flex-direction: column;
    padding: 1rem 1rem 4rem 1rem;
  }
  .nav #open {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 1.4rem;
    left: 1.6rem;
  }
  .nav #logo {
    font-size: 20px;
    position: absolute;
    top: 1rem;
    left: 8.5rem;
  }
  .nav .links {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 100vh;
    width: 200px;
    align-items: flex-end;
    padding: 30px 30px 0 0;
    display: none;
    transition: left 0.4s ease;
  }
  .nav .links #close {
    font-size: 25px;
  }
  .nav #input {
    display: none;
  }
  .nav #cart {
    position: absolute;
    top: 1rem;
    right: 1rem;
    gap: 1rem;
  }
  .nav #cart a {
    font-size: 18px;
  }
  .content {
    gap: 3rem;
    justify-content: center;
    margin-top: 0.5rem;
  }
  .content h1 {
    font-size: 27px;
  }
  .content .store {
    gap: 4rem;
  }
  .content .store .shirt strong {
    font-size: 25px;
  }
  .content .store .shirt .prod {
    flex-direction: column;
    gap: 2rem;
  }
  .content .store .denim strong {
    font-size: 25px;
  }
  .content .store .denim .prod {
    flex-direction: column;
    gap: 2rem;
  }
  .content .store .shoe strong {
    font-size: 25px;
  }
  .content .store .shoe .prod {
    flex-direction: column;
    gap: 2rem;
  }
  .content .newsletter {
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    margin-top: 1rem;
  }
  .content .newsletter span {
    font-size: 20px;
  }
  .content .footer {
    padding: 1rem 1rem 4rem 1rem;
    width: 91%;
  }
  .content .footer .texts {
    flex-direction: column;
    gap: 2rem;
  }
  .content .footer .texts .logotext {
    position: relative;
    right: 1.5rem;
  }
  .content .footer .texts .complink {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .content .footer .payment {
    flex-direction: column;
    gap: 1rem;
  }
}/*# sourceMappingURL=shop.css.map */